<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>카테고리 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/main/category.css">
</head>
<body>
    <main>
        <h1>콜렉터블</h1>
        <header>
            <div>
                <span>등록상품:</span>
                <b>13건</b>
            </div>

            <ul>
                <li>
                    <a href="#">최신순</a>
                </li>
                <li>
                    <a href="#">이름순</a>
                </li>
                <li>
                    <a href="#">낮은 가격순</a>
                </li>
                <li>
                    <a href="#">높은 가격순</a>
                </li>
            </ul>
        </header>
        <section>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
            <div class="item">
                <a class="image-container" href="#">
                    <img src="https://jp.cookierunstore.com/web/product/medium/202312/27a96ac44b5d30888302cb8673663719.jpg" alt="">
                </a>
                <b class="title">クッキーラン霊魂石キーホルダー第4弾</b>
                <b class="price">1,192원</b>
            </div>
        </section>
        <ol>
            <li><a href="#"><i class="bi bi-caret-left-fill"></i></a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="bi bi-caret-right-fill"></i></a></li>
        </ol>
    </main>
</body>
</html>