<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>KOREA STORE FOOTER</title>
    <link rel="stylesheet" href="../../static/css/public/footer.css">
</head>
<body>
    <footer>
        <nav>
            <ul>
                <li><a href="#">회사개요</a></li>
                <li><a href="#">이용규약</a></li>
                <li><a href="#">개인정보이용방침</a></li>
                <li><a href="#">이용가이드</a></li>
            </ul>
        </nav>

        <section>
            <div class="developer-info-container">
                <h4>개발자정보</h4>
                <span>김성우</span>
                <span>fnvit@naver.com</span>
                <span>월-금 09:00 - 18:00</span>
                <span>토,일,공휴일 휴무</span>
                <span>사이트 문의 또는 개발 문의는 메일주세요</span>
                <ul>
                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                </ul>
            </div>

            <div class="community-info-container">
                <h4>커뮤니티</h4>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">사용자리뷰</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
            </div>

            <div class="site-info-container">
                <h4>사이트정보</h4>
                <p>
                    法人名(商号) : デブシスターズ㈱ 代表者(名) : イ・ジフン、キム・ジョンフン 事業者登録番号案内 : [211-87-97881] 電話番号 : 02-2148-0762 Fax : 通信販売業(許可)申請 2013-ソウル江南-00151 住所 : 06019 ソウル市 江南区新沙洞652−16 SGF清潭タワー3階 個人情報管理責任者 : CookieRun Store(help@cookierunstore.com)
                </p>
                <span>Copyright&#169;2024 KOREA STORE. All rights reserved. Hosting by 김성우</span>
            </div>

        </section>
    </footer>
</body>
</html>




