<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>HEADER</title>
    <link rel="stylesheet" href="../../static/css/public/header.css">
</head>
<body>
    <header id="main-header">
        <a href="" class="main-header-logo">
            <img src="../../static/images/logo/header_logo.png" width="200" alt="메인로고">
        </a>

        <ul class="main-menu-ul">
            <li>
                <a href="">ALL</a>
            </li>
            <li><a href="">BEST</a></li>
            <li>
                <a href="">콜렉션</a>
                <ul class="header-child-menu">
                    <li><a href="">쿠키 빌리지</a></li>
                    <li><a href="">콜렉터블 피규어</a></li>
                    <li><a href="">마스코트 인형 키링</a></li>
                    <li><a href="">영혼석 키링</a></li>
                </ul>
            </li>
            <li><a href="">테마상품</a></li>
            <li>
                <a href="">카테고리</a>
                <ul class="header-child-menu">
                    <li><a href="">토이</a></li>
                    <li><a href="">문구</a></li>
                    <li><a href="">리빙</a></li>
                    <li><a href="">소형가전</a></li>
                    <li><a href="">잡화</a></li>
                    <li><a href="">도서앨범</a></li>
                </ul>
            </li>
            <li>
                <a href="">커뮤니티</a>
                <ul class="header-child-menu">
                    <li><a href="">공지사항</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">상품리뷰</a></li>
                    <li><a href="">Q&A</a></li>
                </ul>
            </li>
        </ul>

        <section>
            <nav>
                <ul class="header-sub-menu">
                    <li>
                        <a href="">
                            <i class="bi bi-person"></i>
                        </a>
                        <ul class="header-child-menu">
                            <li><a href="">로그인</a></li>
                            <li><a href="">회원등록</a></li>

                            <li><a href="">마이페이지</a></li>
                            <li><a href="">주문이력</a></li>
                            <li><a href="">로그아웃</a></li>
                        </ul>
                    </li>
                    <li><a href=""><i class="bi bi-cart"></i></a></li>
                    <li><a href=""><i class="bi bi-search"></i></a></li>
                </ul>
            </nav>

            <ul class="header-country-ul">
                <li>
                    <a href=""><img src="../../static/images/icon/icons8-south-korea-96.png" width="35" alt="한국어"/></a>
                    <a href=""><img src="../../static/images/icon/icons8-japan-96.png" width="35" alt="일본어"/></a>
                    <a href=""><img src="../../static/images/icon/icons8-america-96.png" width="35" alt="영어"/></a>
                </li>
            </ul>
        </section>



    </header>
</body>
</html>