<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.store.mapper.UserMapper">
    <!-- id를 통해 유저 정보 조회하기   -->
    <select id="selectUserById" resultType="UserDTO">
        SELECT * FROM `user` WHERE id = #{id}
    </select>
    <!-- UserDTO 객체의 값으로 유저 등록하기   -->
    <insert id="insertUser">
        INSERT INTO `user` (id, password, tel, email, nickname, profile_image) 
        VALUES (#{id}, #{password}, #{tel}, #{email}, #{nickname}, NULL)
    </insert>
</mapper>