<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>회원등록 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/user/join.css">
    <script src="../../static/js/user/join.js" defer></script>
</head>
<body>
<main>
    <h1>회원등록</h1>
    <form th:action="@{/user/join}" method="post" th:object="${userDTO}">
        <h2>필수정보</h2>
        <section>
            <div class="id-input-container">
                <i class="bi bi-person-fill"></i>
                <label>
                    <input type="text" id="id" name="id" th:value="*{id}"
                           placeholder="아이디를 입력하세요 (4~15자, 영문자로 시작, 영문자+숫자)">
                </label>
                <button type="button">중복검사</button>
                <input type="hidden" name="id-check">
                <input type="hidden" name="id-check-valid" value="false">
            </div>
            <div class="error-container" th:attr="active=${#fields.hasErrors('id') ? 'true' : ''}">
                <span>아이디 형식이 잘못되었습니다</span>
            </div>

            <div class="pw-input-container">
                <i class="bi bi-lock-fill"></i>
                <label><input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요 (4-10자 이내, 영문자+숫자+특수문자 조합)"></label>
            </div>

            <div class="pw-re-input-container">
                <i class="bi bi-lock-fill"></i>
                <label><input type="text" id="password-re" placeholder="비밀번호를 한번 더 입력하세요"></label>
            </div>
            <div class="error-container" th:attr="active=${#fields.hasErrors('password') ? 'true' : ''}">
                <span>비밀번호 형식이 잘못되었습니다</span>
            </div>

            <div class="tel-input-container"
                 th:with="tel=*{tel == null ? '010--' : tel},tel=${tel.split('-', -1)}"
            >
                <i class="bi bi-telephone-fill"></i>
                <label class="tel-head-label">
                    <select name="tel">
                        <option th:selected="${tel[0] == '010'}">010</option>
                        <option th:selected="${tel[0] == '011'}">011</option>
                        <option th:selected="${tel[0]  == '017'}">017</option>
                        <option th:selected="${tel[0]  == '018'}">018</option>
                    </select>
                </label>
                <span>-</span>
                <label><input type="text" name="tel" th:value="${tel[1]}"></label>
                <span>-</span>
                <label><input type="text" name="tel" th:value="${tel[2]}"></label>
            </div>
            <div class="error-container" th:attr="active=${#fields.hasErrors('tel') ? 'true' : ''}">
                <span>전화번호 형식이 잘못되었습니다</span>
            </div>

            <div class="email-input-container">
                <i class="bi bi-envelope-fill"></i>
                <label><input type="text" name="email" th:value="*{email == null ? '' : email.split('@', -1)[0]}"></label>
                <i class="bi bi-at"></i>
                <label><input type="text" name="email" th:value="*{email == null ? '' : email.split('@', -1)[1]}"></label>
                <label class="email-tail-label">
                    <select>
                        <option selected>직접입력</option>
                        <option>naver.com</option>
                        <option>google.com</option>
                        <option>nate.com</option>
                    </select>
                </label>
                <button type="button">인증하기</button>
            </div>
            <div class="error-container" th:attr="active=${#fields.hasErrors('email') ? 'true' : ''}">
                <span>이메일 형식이 잘못되었습니다</span>
            </div>

            <div class="email-auth-input-container">
                <label><input type="text" placeholder="인증번호를 입력하세요"></label>
                <button type="button">확인</button>
            </div>
        </section>

        <h2>선택정보</h2>
        <section>
            <div class="nickname-input-container">
                <i class="bi bi-highlighter"></i>
                <label><input type="text" name="nickname" placeholder="닉네임을 입력하세요"></label>
            </div>
            <div class="image-input-container">
                <i class="bi bi-image"></i>
                <label><input type="file"></label>
            </div>
        </section>

        <section class="join-btn-section">
            <button type="submit">가입하기</button>
            <button type="button">돌아가기</button>
        </section>
    </form>



</main>
</body>
</html>