<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>로그인 | KOREA STORE</title>
    <link rel="stylesheet" href="../../static/css/user/login.css">
    <script src="../../static/js/user/login.js" defer></script>
</head>
<body>
    <main>
        <h1>로그인</h1>
        <form th:action="@{/user/login}" method="post">
            <section class="user-info-section">
                <label>
                    <input type="text" placeholder="아이디를 입력하세요" id="id" name="id">
                </label>
                <label>
                    <input type="text" placeholder="패스워드를 입력하세요" name="password">
                    <i class="bi bi-eye-fill"></i>
                </label>
            </section>
            <section class="login-config-section">
                <label>
                    <input type="checkbox" id="id-save">
                    <span>아이디저장</span>
                </label>
                <label>
                    <input type="checkbox" name="remember-me">
                    <span>자동로그인</span>
                </label>
            </section>
            <section class="link-section">
                <a href="#">아이디 찾기</a>
                <a href="#">패스워드 변경</a>
                <a href="/user/join">회원가입</a>
            </section>
            <button id="login-btn" type="submit">로그인</button>
        </form>
    </main>
</body>
</html>


