<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    div{
        color: red;
    }
</style>
<body>
    <style>
        section{
            color: green;
        }
    </style>
    <script>
        alert("ㅋㅋㅋㅋ 해킹했다")
    </script>
    <h1 th:text="${title}">메일 템플릿 테스트입니다^-^</h1>
    <a href="#" style="color: blue">클릭해봐! 링크!</a>
    <div>여기는 DIV</div>
    <section>여기는 SECTION</section>
</body>
</html>